 .title {
     padding: 1rem;
     font-size: larger;
     font-weight: bold;
     color: #3f51b5;
     width: 50%;
 }

 .cstm-action {
     width: 50%;
     padding: 1rem;
     justify-content: end;
 }

 th {
     width: 14.2%;
 }

